<p><b><%=post.user.profile.first_name? ? post.user.profile.first_name : "Anonymous" %></b> wrote:</p>
<div><%= post.body%></div>
<hr>
<small><%=post.comments.count %> <b>Comments</b></small>
<% post.comments.each do |comment|%>
  <%= render partial: "feed/comment", locals: { comment: comment } %>
<%end%>
<br>
<br>
