<p><b><%=post.user.profile.first_name? ? post.user.profile.first_name : "Anonymous" %></b> wrote:</p>
<div><%= post.body%></div>
<hr>
<% post.comments.each do |comment|%>
  <small><%=comment.body%></small>
  <hr>
<%end%>
<br>
