<div style="width:100px;fheight:auto;"><img src="<%= image_path('default.jpg') %>" alt="default profile picture">
</div>
<h1><%if @profile.first_name%>
    <%=@profile.first_name.capitalize%>'s profile
  <%else%>
    Anonymoys profile
  <%end%>
</h1>
<br>
<br>
<h3>Latest posts</h3>
<br>
<br>
<div>
  <% @profile.user.posts.each do |post|%>
    <%= render partial: "shared/post", locals: { post: post } %>
  <%end%>
</div>
