<h1>My Circle</h1>
<p>
  Hi there <%=@user.email%>,
</p>
<article>Welcome to the social media that will take the world by storm! Visit <%=@url%> to sign in, then create a profile to start your circle experience!</article>