<small><b><% if comment.user.profile %>
      <%= link_to "#{comment.user.profile.first_name}", profile_url(comment.user.profile)%>
    <%else%>
      <%="Anonymous" %>
    <%end%>:</b></small>
<small>
  <p><%= time_ago_in_words(comment.created_at) %></p>
</small>
<small><%=comment.body%></small>
<hr>
