<%= form_with(model: model, local:true) do |form| %>
  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit "Create"%>
  </div>
<% end %>