<div data-controller = "char-limiter">
  <%= form_with(model: model, local: true, class:"grid gap-2 flex justify-items-end")  do |form| %>
    <%= form.text_area :body, data: { char_limiter_target: "input", action: "input->char-limiter#checkInput" }, rows:"2" , class:"bg-transparent border-none text-gray-200 font-medium text-lg w-full", placeholder:"Write a comment..."%>
    <div data-char-limiter-target="warning" class="text-red-600"></div>
    <%= form.submit "Comment", data: { char_limiter_target: "submit" }, class:"bg-blue-400 w-48 mt-5 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full"%>
  <% end %>
</div>
