<%= form_with(model: model, local: true) do |form| %>
  <div>
    <% model_name = model.class.name == "Post" ? "Post" : "Comment"%>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit "#{model_name}"%>
  </div>
<% end %>