<div class = "flex">
  <div class="flex-1">
    <div id="new_post" class ="p-4 flex flex-col gap-2">
      <%= render partial: "shared/form", locals: { model: Post.new } %>
    </div>
    <div id="posts">
      <% @posts.each do |post|%>
        <%= render partial: "shared/post", locals: { post: post } %>
      <%end%>
    </div>
  </div>
  <%=render partial:"shared/sidebar"%>
</div>
