<h1><%= "#{@post.user.profile.first_name}'s post"%></h1>
<br>
<%= render partial: "shared/post", locals: { post: @post } %>
<%= link_to "Back", root_path%>
<%= render partial: "shared/form", locals: { model: [@post, @comment] }%>